@model BookReading.Event.Models.EventViewModel

<div class="col-md-12" align="center">
    <div class="card bg-light mb-12 shadow-sm" style="width: 50%;" align="center">
        <div class="card-body fw-bold">
            <h3 class="card-title text-primary"><b>Book Title:</b> @Model.Title</h3>
            <div class="card-body">
                @if (Model.Description != null)
                {
                    <div>
                        <p class="card-text"> <p class="text-success d-inline">Description :</p> @Model.Description</p>
                    </div>
                }
                <div>
                    <p class="card-text"> <p class="text-success d-inline">Venue</p> : @Model.Location</p>
                </div>

                <div>
                    <p class="card-text"> <p class="text-success d-inline">Event Date</p> : @Model.Date.ToShortDateString()</p>
                </div>

                <div>
                    <p class="card-text"> <p class="text-success d-inline">Start Time :</p> @Model.StartTime.ToShortTimeString()</p>
                </div>
                @if (Model.Duration != null)
                {
                    <div>
                        <p class="card-text"> <p class="text-success d-inline">Duration :</p> @Model.Duration</p>
                    </div>

                }
                @if (Model.Invitees != null)
                {
                    var count = Model.Invitees.Split(',').Count();
                    <div>
                        <p class="card-text"> <p class="text-success d-inline">Total Invitees :</p> @count</p>
                    </div>
                }

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>It's a <p class="font-weight-bold d-inline text-primary">@Model.EventType </p>Event</div>
                </div>
                <div class="col-md-6">
                    <div>Organised by <p class="font-weight-bold d-inline text-danger">@Model.Organiser</p></div>
                </div>
            </div>
            <p></p>
            <div>
                <a class="btn btn-outline-warning" asp-controller="Event" asp-action="GetEvents"><p class="fw-bold d-inline">Back to Event Page</p></a>
            </div>
        </div>
    </div>
    <p></p>

    <hr style="height:2px; width:80%; border-width:0; color:black; background-color:black">
    <div class="container">
        <div class="col-md-12" align="center" style="width: 50%;">
            @using (Html.BeginForm("PostComment", "Comment", new { EventId = Model.ID }))
            {
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">

                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                            <p>
                                <strong class="text-success">Anonymous</strong>
                            </p>
                        </div>

                        <div class="col-sm-9">
                            <textarea class="form-control" name="comment" id="comment" rows="5" placeholder="Write your comment here...."></textarea>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success btn-circle text-uppercase" type="submit" value="Post" id="submitComment"><span class="glyphicon glyphicon-send"></span> Post comment</button>
                    </div>
                </div>
                <br />

            }
        </div>
    </div>

@if (@Model.Comments.Count != 0)
{
    <h4 class="display-4 text-danger">Previous Comments!!</h4>
    @foreach (var i in Model.Comments)
    {
        <div class="container">
            <div class="card mb-12 shadow-sm" style="width: 50%;" align="center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                            <p>
                               <strong class="text-danger float-start">Anonymous</strong>
                            </p>
                        </div>
                        <div class="col-md-10">
                            <p>@i.Comment</p>
                        </div>
                    </div>
                    <small class="float-end fw-bold">Last Comment At: @i.TimeStamp</small>
                </div>

            </div>
            
        </div>
        <br />

    }
}

</div>
